# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System or configuration files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Compiled Python files
*.pyc
*.pyo

# Local configuration example
config_example.ini

# Dependency directories
node_modules/

outputs/
